@import "toolbox/all";
@import "base/settings";
@import "base/typography";
@import "assets/font-awesome";
// add your palette here
@import "toolbox/palettes/themes";
@import "base/reset";
@import "base/base-style";
@import "partials/all";
