---
layout: index
---
<div class="content-container">
  <div class="contents">
    <!-- Theme -->
    <section class="section theme-section">
      <!-- Theme Chooser -->
      <div class="theme-chooser">
        <h3 class="theme-chooser-title section-title">Select a theme</h3>
        <div class="theme-chooser-options">
          {% for theme in site.data.themes.material %}
            <a href="void:javascript(0)"
               style="background: {{ theme.background }}"
               class="theme {{ theme.className }} js-theme"
               title="{{ theme.name }}"
               data-theme-class="{{ theme.className }}"></a>
          {% endfor %}
        </div>
      </div>
      
      <!-- Screen -->
      {% for theme in site.data.themes.material %}
        <a href="/img/{{ theme.className }}.png" target="_blank"
           class="screenshot {{ theme.className }}"></a>
      {% endfor %}
    
    </section>
    
    <!-- Features -->
    <section class="section features-section">
      <h2 class="features-title section-title">Features</h2>
      <div class="features articles">
        {% for feat in site.features %}
          {% include feature.html %}
        {% endfor %}
      </div>
      <a href="{{ site.github }}" class="call-to-action" ̃>
        <button class="btn -large">
          Download
        </button>
      </a>
    </section>
  
  </div>
</div>
