<li class="card themed single {{ theme.className }}" markdown="0">
  <div class="card-content">
    <span class="card-title">{{ theme.name | capitalize }}</span>
    <p>Background: {{ theme.background }}</p>
    <p>Foreground: {{ theme.foreground }}</p>
    <p>Text: {{ theme.text }}</p>
    <p>Selection Background: {{ theme.selectBg }}</p>
    <p>Selection Foreground: {{ theme.selectFg }}</p>
    <p>Separator/Buttons: {{ theme.inactive }}</p>
    <p>Caret: {{ theme.caret }}</p>
    <p>List: {{ theme.second }}</p>
    <p>Disabled: {{ theme.disabled }}</p>
    <p>Contrast: {{ theme.contrast }}</p>
    <p>Active: {{ theme.table }}</p>
    <p>Misc 1: {{ theme.misc1 }}</p>
    <p>Misc 2: {{ theme.misc2 }}</p>
    <p>Highlight: {{ theme.button }}</p>
    <p>Tree: {{ theme.tree }}</p>
  </div>
</li>
