// Mobile responsive
@media all and (max-width: $mobile-size) {
  .docs-title {
    text-align: center;
    font-size: 3.4rem;
    padding: 0;
    margin: 1.2rem 0 1.68rem 0;
  }

  .docs-subtitle {
    text-align: center;
    font-size: 1.82rem;
    padding: 0;
  }

  .doc {
    margin: 1em 0 !important;

    h2 {
      font-size: 2.88rem;
    }

    h3 {
      font-size: 2.52rem;
    }

    h5 + p {
      background: $second-accent-color;
      padding: 1em 0 !important;
    }

    .promo-img,
    .avatar-img {
      margin: auto;
      display: block;
    }

    .promo-img {
      padding: 2rem !important;
      width: 50% !important;
    }

    .avatar-img {
    }
  }
}
