/**
  Footer global styles
 */
.footer {
  width: 100%;
  box-sizing: border-box;
  background: $dark-primary-color;
  color: $primary-text-icon-color;
  font-size: .9em;
  align-self: flex-end;
  font-weight: 400;

  @media all and (max-width: $mobile-size) {
    height: auto;
    font-size: .8em;
  }

  a {
    color: $primary-text-icon-color;
    &:hover {
      color: $primary-text-icon-color;
      background: darken($dark-primary-color, 10%);
    }
  }

  .content {
    @include flexbox(row, wrap, space-between, flex-start);

    &.contact > .col {
      @include rowMachine(3, 1%, 25px);

      @media all and (max-width: $mobile-size) {
        @include rowMachine(1, 1%, 25px)
      }
    }
  }

  .contact {
    font-weight: 300;
    .btn {
      color: white !important;
    }
  }

  .copyright {
    display: block;
    line-height: 54px;
    .copyright-authors {
      display: inline-block;
      @media all and (max-width: $mobile-size) {
        display: none;
      }
    }
    .copyright-all {
      display: none;

      @media all and (max-width: $mobile-size) {
        display: inline-block;
      }
    }
    .copyright-license {
      float: right;
      @media all and (max-width: $mobile-size) {
        float: left;
      }
    }
  }

  .backtotop {
    color: $primary-text-icon-color;
    padding: 0 5px;
    &:hover {
      color: $primary-text-icon-color;
      background: darken($dark-primary-color, 10%);
      cursor: pointer;
    }
  }
}
