/**
  Styles for index layout
 */
.index {
  // Space up sections
  .section {
    margin: 4em auto;
    text-align: center;

    .call-to-action {
      margin: auto;
    }
  }

  .section-title {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    line-height: 125%;
    color: $primary-text;
    font-family: $main-font;
    text-transform: uppercase;
    transition: .3s all ease;
  }

  .content-container {
    width: 100%;
  }

  .post-article,
  .feature_description {
    text-align: center;
  }

  .post-title {
    color: $title-color;
    padding: 10px 0;
  }

  .feature_caption {
    color: $title-color;
  }

  .feature_img--svg {
    padding: 0 30%;
  }

}

