/**
  Styles for index layout
 */
.index {
  // Space up sections
  .section {
    margin: 4em auto;
    text-align: center;

    .call-to-action {
      margin: auto;
    }

    @media screen and (max-width: $from-noslogan-to-icon) {
      margin: 2em auto;
    }
  }

  .section-title {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    line-height: 125%;
    color: $primary-text;
    font-family: $main-font;
    text-transform: uppercase;
    transition: .3s all ease;
  }

  .content-container {
    width: 100%;
  }

  .post-article,
  .post-content {
    text-align: center;
  }

  .post-title {
    color: $title-color;
    padding: 10px 0;
  }

  .post-caption {
    color: $title-color;
  }

  .post-featimg-svg {
    padding: 0 30%;
  }

}

