// material sidebar styles
.sidebar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  top: 0;
  background: white;
  z-index: 111;
  overflow: inherit;
  @include shadow(1);
  transition: .3s all ease;

  .row {
    padding: 20px;
    //border-bottom: $line;

    .ts-no-slogan,
    .ts-icon {
      display: none;
    }
  }
  .sidebar-toggle {
    display: none;
    transition: .5s all ease-out;
  }

  .link-section {
    list-style-type: none;
    line-height: 1.5;

    &.active {
      a {
        color: $second-accent-color;
      }
    }
  }

  @media screen and (max-width: $sidebarcollapse) {
    transform: translateX(-($sidebar-width - $margin-width));
    &.open {
      transition-delay: .5s;
      transform: translateX(0);
      .sidebar-toggle {
        height: $margin-width;
        background: rgba($material-sidebar-responsive-border-bg, 0);
        i {
          transform: translate(50%, -50%) rotate(45deg);
        }
      }
    }

    .sidebar-toggle {
      display: block;
      position: fixed;
      top: 0;
      z-index: 99;
      left: $sidebar-width - $margin-width;
      width: $margin-width;
      height: 100%;
      background: $material-sidebar-responsive-border-bg;
      &:hover {
        cursor: pointer;
        background: darken($material-sidebar-responsive-border-bg, 7%);
      }
      i {
        transition: 1s all ease;
        position: absolute;
        right: $margin-width/2;
        top: 50%;
        transform: translate(50%, -50%);
      }
    }
  }
}

/**
  When a parent has this class
 */
.-sidebar-left {
  &, .main-menu {
    width: calc(100% - #{$sidebar-width});
    @media screen and (max-width: $sidebarcollapse) {
      width: calc(100% - #{$margin-width});
    }
  }
}

.-sidebar-left {
  margin-left: $sidebar-width;
  .main-menu {
    margin-left: $sidebar-width;
  }
  .sidebar {
    left: 0;
  }
  @media screen and (max-width: $sidebarcollapse) {
    margin-left: $margin-width;
    .main-menu {
      margin-left: $margin-width;
    }
  }
}
