.masonry.file-icons {
  @include flexbox(row, wrap, center, center);

  .item {
    @include flexbox(row, wrap, flex-start, center);
    width: calc((100% / 3) - 20px);
    padding: 0;
    margin: 6px;

    > .item-text {
      padding-left: 1em;
    }

    @media all and (max-width: $mobile-size) {
      width: calc((100% / 2) - 20px);
    }
  }
}
