.article-post {
  a.post-url {
    color: $title-color;
  }
  .post-title {
    font-weight: 500;
    margin: 0;
  }

  .post-date {
    color: $secondary-text;
    font-style: oblique;
  }

  .post-content {
    margin: 1em 0;
  }
}
