// TOOLBOX COLORS
//---------------------------------------------------------------------
$almost-white: #FDFDFD;
$almost-black: #202020;
$darkgray: #333;

// PROJECT COLORS
//---------------------------------------------------------------------
$white: #FFF;
$black: #212121;
$gray: #727272;

// material colors, to create new palette check out: http://www.materialpalette.com/

$green: #4CAF50;
$lightgreen: #C8E6C9;
$darkgreen: #388E3C;

$red: #FF5252;

//----------------------------

$indigo: #3F51B5;
$darkindigo: #303F9F;
$lightindigo: #C5CAE9;

$pink: #FF4081;
$turquoise: #80cbc4;

//----------------------------

$teal: #009688;
$darkteal: #00796B;
$lightteal: #B2DFDB;

$amber: #FFC107;

//----------------------------

$brown: #795548;
$darkbrown: #5D4037;
$lightbrown: #D7CCC8;

$purple: #E040FB;

// Default (Oceanic)
$oceanic-bg: #263238;
$oceanic-fg: #B0BEC5;
$oceanic-contrast: #1E272C;

// Darker
$darker-bg: #212121;
$darker-fg: #B0BEC5;
$darker-contrast: #1A1A1A;

// Palenight
$palenight-bg: #292D3E;
$palenight-fg: #B0BEC5;
$palenight-contrast: #202331;

// Lighter
$lighter-bg: #fafafa;
$lighter-fg: #A7ADB0;
$lighter-contrast: #F4F4F4;

// Monokai
$monokai-bg: #2D2A2E;
$monokai-fg: #C1C0C0;
$monokai-contrast: #221F22;

// Arc dark
$arcdark-bg: #383C4A;
$arcdark-fg: #D3DAE3;
$arcdark-contrast: #2f343f;

// One Dark
$onedark-bg: #282C34;
$onedark-fg: #979FAD;
$onedark-contrast: #21252B;

// Solarized Dark
$solardark-bg: #002B36;
$solardark-fg: #839496;
$solardark-contrast: #00252E;

// Solarized Light
$solarlight-bg: #FDF4DF;
$solarlight-fg: #586e75;
$solarlight-contrast: #FCF4DC;
